
div
{
    width: 700px; 
    height: 100px; 
    border: 2px solid red; 
    background-color: lightcyan; 
    text-align: center; 
    position: relative; 
    left: 400px;
}
h1
{
    font-family: 'Courier New';
    color: tomato;
}
